html, body {
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: white;
}

.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* 🔥 LA LIGNE QUI SAUVE TOUT */
#map {
    flex: 2;
    height: 100%;
    min-height: 500px;
    background: red; /* TEST */
}

#sidebar {
    flex: 1;
    background: #111;
    color: white;
    padding: 20px;
}
