html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 25px;
    background: linear-gradient(135deg, #020617, #1e293b);
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    height: calc(100vh - 100px); /* 🔥 IMPORTANT */
}

/* CARTE */
#map {
    flex: 2;
    height: 100%;
}

/* SIDEBAR */
#sidebar {
    flex: 1;
    padding: 20px;
    background: #020617;
    overflow-y: auto;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 12px;
}

/* IMAGE */
img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}
